@model BookingsModel.Service_Products

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Service_Products</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Service.ServiceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Service.ServiceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock.ProductName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
