@model BookingsModel.CompanyOpeningHour

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CompanyOpeningHour</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Company.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayOfWeek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayOfWeek)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpeningTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpeningTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClosingTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClosingTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NotesIfClosed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotesIfClosed)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OpeningTimeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
