@model IEnumerable<BookingsModel.Stock>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductImage.ProductImageURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductSupplier.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockType.StockTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductImage.ProductImageURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductSupplier.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StockType.StockTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StockID }) |
            @Html.ActionLink("Details", "Details", new { id=item.StockID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StockID })
        </td>
    </tr>
}

</table>
